@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* font-family: 'Nunito Sans', sans-serif; */

body {
  font-family: "Nunito Sans", sans-serif;
  color: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light {
  background-color: hsl(0, 0%, 100%);
}

.dark {
  background-color: hsl(207, 26%, 17%);
}

.dark-text {
  color: hsl(0, 0%, 100%);
}

.light-text {
  color: hsl(200, 15%, 8%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 70px;
}

.dark-navbar {
  background-color: hsl(209, 23%, 22%);
}

.light-navbar {
  background-color: hsl(0, 0%, 98%);
}

.theme-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 50px;
}

.theme-container img {
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.light-dark-image {
  display: none;
}

.dark-light-image {
  display: none;
}

.input-fields {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

.input-fields input {
  width: 450px;
  padding: 10px;
  border: none;
}

.dark-input-text {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.light-input-text {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

#region-search {
  padding-right: 50px;
  margin-right: 40px;
  width: 300px;
  padding: 10px;
  border: none;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 600;
}

#region-search option {
  border: none;
  font-weight: 600;
}

.dark-region-option {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.light-region-option {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
